<!DOCTYPE html>
<html>
    <head>
        <title>Help</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" href="/images/weather.png">
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link href="/css/styles.css" rel="stylesheet">
    </head>
    <body>
        <div class="container text-center">
            {{>header}}
            <p>{{message}}</p>
            {{>footer}}
        </div>
        <script src="/js/jquery.min.js"></script>  
        <script src="/js/bootstrap.min.js"></script>       
    </body>
</html>