<header>
    <div class="jumbotron jumbotron-fluid text-center" style="margin-bottom:20px">
        <h1>{{title}}</h1>
    </div>
    {{!-- <h1 class="jumbotron jumbotron-fluid text-center">{{title}}</h1> --}}
<ul class="nav justify-content-center nav-pills back">
  <li class="nav-item nav-color">
    <a class="nav-link text-color" href="/">Weather</a>
  </li>
  <li class="nav-item nav-color">
    <a class="nav-link text-color" href="/about">About me</a>
  </li>
  <li class="nav-item nav-color">
    <a class="nav-link text-color" href="/help">Help</a>
  </li>
</ul>
</header>
